/* reseta as config do CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* fim do reset*/





div {
    display: block;
}
html,
body {
  height:100%
} 
 

body {
  
    background-color: #daf6ff; 
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    text-align: center;
     
}

.container {
    width: 1280px;
}

.menu-mobile {
    display: none;
}

nav {
    background-color: red;
    height: 50px;
    position: fixed;
     
    left: 0;
    right: 0;
    z-index: 65956;
     
}
.menu {
    background-color:  ;
}
nav ul {
   
}
nav ul li {
    display: inline-block;
   
    font-size: 1.9em;
    margin: 0 20px;
   
     height: 50px;
     padding-top: 10px;
    
}
nav ul li a {
    text-decoration: none;
    color: #e4e4e4;
    padding: 15px;
    font-family: 'Lato-HairLine';
     
     
}
nav ul li:hover {
    
     background-color: rgba(0,0,0, 0.3);
     
}
.conteudo {
    background-color: darkgray;
}
.logo {
    background-color: forestgreen;
    width: 100%;
}
.divMenu {
    padding-top: 40px;
}

.logo img {
    width: 100px;
}








